<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}The Lengow test{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/test/css/style.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

{% block body %}


    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('test_homepage') }}">The lengow test</a>
            </div>

            <!-- Menu -->
            <div class="collapse navbar-collapse">

                <!-- Menu gauche -->
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="{{ path('test_new') }}">Ajouter une commande</a>
                    </li>
                    <li class="">
                        <a href="{{ path('test_list') }}">Liste des commandes</a>
                    </li>
                    <li class="">
                        <a href="{{ path('test_api_list') }}">Liste des commandes (JSON)</a>
                    </li>
                    <li class="">
                        <a href="{{ path('test_import') }}">Import</a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>


    {% block main_content %}


    {% endblock main_content %}



{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/jquery/jquery-1.11.3.min.js') }}"></script>
{% endblock %}




</body>
</html>
