{% extends "TestBundle::layout.html.twig" %}

{% block main_content %}

    {% if errorClient != ''%}

        <div class="alert alert-danger">
            {{ errorMessage }}
        </div>

    {% else %}

        <div class="alert alert-success">
            Succès: {{ countAddedOrders }} nouvelle(s) commande(s)
        </div>

    {% endif %}


{% endblock main_content %}
