{% extends "TestBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/test/css/default-grid.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}


{% block main_content %}
<div class="container-fluid">

    {% for flashMessage in app.session.flashbag.get("success") %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h2>Liste des commandes</h2>

    <a href="{{ path('test_new') }}" class="btn btn-success">
        Créer une commande
    </a>

    <div class="">
    {{ grid(grid) }}
    </div>

</div>
{% endblock main_content %}
