{% form_theme form 'TestBundle::defaultformulaire.html.twig' %}

{% extends "TestBundle::layout.html.twig" %}


{% block main_content %}
    <div class="container-fluid">

        <div class="row form-default">
            <div class="col-md-6 col-md-offset-3">

                <h2>Créer une commande</h2>

                {% for flashMessage in app.session.flashbag.get("error") %}
                    <div class="alert alert-danger">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="common-form col-md-8 col-md-offset-2">

                        {{ form_start(form, {'attr' : {novalidate: 'novalidate'}}) }}
                            {{ form_widget(form) }}

                            <div class="row">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" value="save" class="btn btn-primary">Créer</button>
                                    <a type="button" href="{{ path('test_list') }}" class="btn btn-default">
                                        Annuler
                                    </a>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}


